* {
    font-family:Roboto, Times, serif;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    

}

.content {
    flex: 1;
    display: flex;
}

.top {
    background-color: #1f2937;
    padding: 30px 300px 50px;
    justify-content: space-around;
    align-items: center;
    
}

header {
    display: flex;
    color: white;
    justify-content: center;
}

a {
    color: white;
    text-decoration: none;
}

.logo {
    color: #F9FAF8;
    font-weight: bold;
    font-size: 24px;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 24px;
    margin-left: auto;
    padding: 0;
}

.main {
    display: flex;
    justify-content: center;
    gap: 32px;
    

}

.main-text {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-right: auto;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 100%;
}

.hero {
    color: #F9FAF8;
    font-weight: 900;
    font-size: 48px;
}

.hero-sub {
    color: #E5E7EB;
    display: flex;
    flex-direction: column;
    
    
}

button {
    background-color: #3882F6;
    border-radius: 5px;
    width: 100px;
    height: 30px;
    border: none;
    color: white;
    font-weight: bold;
    margin-top: 10px;
    padding: 5px;
}


.placeholder {
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    background-color: grey;
    justify-content: center;
    align-items: center;
    color: white;
    flex-basis: 100%;
}

.first {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px ;
}

.title {
    font-weight: 900;
    font-size: 36px;
}

.cards  {
    display: flex;
    gap: 40px;
}

.flashcard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 300px;
    text-align: center;
   
}

.card {
    width: 150px;
    height: 150px;
    border: 3px;
    border-style: solid;
    border-color: #3882F6;
    border-radius: 10px;
}


